.admin-notifications-container {
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  h1, h2 {
    text-align: center;
    color: #191590;
  }
  
  .send-notification-form {
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 350px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group select,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .admin-notifications-container button {
    display: block;
    width: 20%;
    padding: 10px;
    background-color: #397fc9;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 40px;
  }
  
  .admin-notifications-container button:hover {
    background-color: #0056b3;
  }
  
  .notifications-list {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .notifications-list ul {
    list-style: none;
    padding: 0;
  }
  
  .notifications-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 4px;
  }