.admin-dashboard{
    padding:20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.admin-dashboard-container {
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .admin-dashboard-container h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #191590;
  }
  
  .admin-dashboard-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  /* Sekcija za upravljanje korisnicima */
  .manage-users-section {
    flex: 2;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .manage-users-section h2 {
    margin-bottom: 20px;
    color: #007bff;
  }
  
  .users-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .users-table th,
  .users-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .users-table th {
    background-color: #f1f1f1;
  }
  
  .users-table button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .users-table button:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Sekcija za statistiku */
  .statistics-section {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 120%;
  }
  
  .statistics-section h2 {
    margin-bottom: 20px;
    color: #28a745;
  }