.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .app-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
  }
  
  .study {
    color: var(--blue-color);
  }
  
  .track {
    color: var(--light-blue-color);
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  
  .nav-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    color: var(--dark-blue-color);
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: var(--blue-color);
  }
  
  .nav-link i {
    font-size: 20px;
  }