.notifications {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px; 
  }
  
  .notifications-content {
    margin-top: 20px;
    padding: 20px;
  }