.profile {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 20px; 
  }
  
  .profile-content {
    margin-top: 20px;
    padding: 20px;
  }

  .profile-container {
    padding: 50px;
    max-width: 800px;
    margin: 50px auto;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .profile-container h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: -10px;
    font-size: 1.8em;
    color: #191590;
  }
  
  .profile-content {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
  
  .profile-left,
  .profile-right {
    flex: 1;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .logout-button {
    background-color: #e74343;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 26px;
    max-width: 130px;
  }
  
  .logout-button:hover {
    background-color: #ff1a1a;
  }
  
  .form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 60px;
  }
  
  .cancel-button {
    background-color: #ddd;
    color: rgb(18, 14, 101);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 130px;
    
  }
  
  .cancel-button:hover {
    background-color: #bbb;
  }
  
  .save-button {
    background-color: #2b6baa;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 130px;
  
  }
  
  .save-button:hover {
    background-color: #384cb3;
  }